<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933042954970-n1ctup47ggn08v4kmdiq5vcu8g19etsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933042954970-n1ctup47ggn08v4kmdiq5vcu8g19etsp</string>
	<key>API_KEY</key>
	<string>AIzaSyCmV5vRhOGxWIwuDXHS9RI2lPZtG5_i_Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>933042954970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidleah.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-a1de0</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-a1de0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933042954970:ios:a54324faae4bfc65</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatclone-a1de0.firebaseio.com</string>
</dict>
</plist>